body {
margin: 0;
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg, #6a5acd, #8a2be2);
color: white;
}


/* Navbar */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 40px;
background: rgba(0, 0, 0, 0.25);
}


.nav-left {
display: flex;
align-items: center;
}


.logo {
width: 40px;
margin-right: 10px;
}


.brand {
font-size: 20px;
font-weight: bold;
}


.nav-right a {
margin-left: 20px;
text-decoration: none;
color: white;
font-size: 14px;
opacity: 0.9;
}


.nav-right a:hover {
opacity: 1;
}


/* Main Card */
.main-card {
max-width: 900px;
margin: 80px auto;
padding: 60px 40px;
text-align: center;
background: linear-gradient(135deg, #5f7cff, #b56cff);
border-radius: 20px;
box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}


.center-logo {
width: 70px;
margin-bottom: 20px;
}


h1 {
font-size: 48px;
margin-bottom: 10px;
}


.subtitle {
font-size: 18px;
opacity: 0.95;
}


.desc {
font-size: 14px;
max-width: 650px;
margin: 15px auto 30px;
opacity: 0.85;
}


/* Buttons */
.buttons {
margin-top: 25px;
}


.btn {
padding: 12px 22px;
border-radius: 8px;
border: none;
font-size: 15px;
cursor: pointer;
margin: 8px;
}


.primary{
background: white;
color: #6a5acd;
}


.secondary {
background: transparent;
color: white;
border: 1px solid white;
}


.success {
background: #22c55e;
color: white;
}